body {
  font-family: Microsoft JhengHei;
}

body .travel-navbar {
  height: 80px;
  background-color: #222f3c;
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media (max-width: 1200px) {
  body .travel-navbar {
    padding: 0 65px;
  }
}

@media (max-width: 991px) {
  body .travel-navbar {
    height: auto;
    padding: 0 calc(50% - 60px);
  }
}

body .travel-navbar .travel-toggler {
  position: absolute;
  border: 1px solid #F8F9FC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  right: 10px;
  top: 10px;
}

body .travel-navbar .travel-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .travel-navbar .travel-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 991px) {
  body .travel-navbar .travel-collapse .travel-nav {
    width: 100%;
  }
}

body .travel-navbar .travel-link {
  color: #eaecf4;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  padding: 8px 16px;
}

@media (max-width: 991px) {
  body .travel-navbar .travel-link {
    padding: 0;
  }
}

body .travel-cover-container {
  width: 100%;
  height: calc(75vh - 80px);
  background-image: url("../img/cover-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-animation: loading-move 1s 1;
          animation: loading-move 1s 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .travel-cover-container .travel-search-container {
  margin-top: 170px;
  margin-left: 280px;
  display: inline-block;
}

@media (max-width: 1399px) {
  body .travel-cover-container .travel-search-container {
    margin-left: 180px;
  }
}

@media (max-width: 1279px) {
  body .travel-cover-container .travel-search-container {
    margin-left: 80px;
  }
}

@media (max-width: 1199px) {
  body .travel-cover-container .travel-search-container {
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  body .travel-cover-container .travel-search-container {
    margin-left: calc(50% - 301px);
  }
}

body .travel-cover-container .travel-search-container .travel-cover-text {
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #ffffff;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: inline-block;
}

body .travel-cover-container .travel-search-container .travel-cover-text .text-change {
  display: none;
}

@media (max-width: 649px) {
  body .travel-cover-container .travel-search-container .travel-cover-text .text-change {
    display: block;
  }
}

body .travel-cover-container .travel-search-container .travel-search .search-city {
  width: 160px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #d1d3e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 16px;
}

body .travel-cover-container .travel-search-container .travel-search .search-sort {
  width: 160px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #d1d3e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}

body .travel-cover-container .travel-search-container .travel-search .search {
  width: 350px;
  height: 35px;
  margin-right: 30px;
}

body .travel-cover-container .travel-search-container .travel-search .submit {
  width: 160px;
  height: 40px;
  background: #222f3c;
  border-radius: 4px;
  color: #ffffff;
}

body .travel-cover-container .travel-search-container .travel-search .sort-change {
  display: none;
}

@media (max-width: 991px) {
  body .travel-cover-container .travel-search-container .travel-search .sort-change {
    display: block;
  }
}

body .travel-content-container {
  position: relative;
  -webkit-animation: loading-move 3s 1;
          animation: loading-move 3s 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .travel-content-container .travel-title {
  display: inline-block;
  width: 145px;
  height: 34px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #3a3b45;
  margin-top: 60px;
  margin-left: calc(50% - 72.5px);
  margin-bottom: 48px;
}

body .travel-content-container .tab-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 76.4%;
  margin: auto;
  margin-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

body .travel-content-container .tab-title li {
  width: 100%;
  text-align: center;
}

body .travel-content-container .tab-title li a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #3a3b45;
}

body .travel-content-container .tab-title .active {
  position: relative;
}

body .travel-content-container .tab-title .active::after {
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
  border-bottom: 2px solid #6d89c5;
  -webkit-animation: after-move 0.5s 1;
          animation: after-move 0.5s 1;
}

body .travel-content-container .travel {
  width: 76.4%;
  height: auto;
  max-height: 960px;
  margin: auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

body .travel-content-container .travel .travel-more {
  width: 100px;
  height: 45px;
  padding: 8px 12px;
  background: #222f3c;
  border-radius: 4px;
  color: #ffffff;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0px;
}

body .travel-content-container .travel .col {
  margin-bottom: 60px;
}

body .travel-content-container .travel .card-img-top {
  width: auto;
  height: 200px;
}

body .travel-content-container .travel .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.15px;
  color: #3a3b45;
}

body .travel-content-container .travel .card-address {
  margin-bottom: 15px;
}

body .travel-content-container .travel .card-sort {
  background: #d8c6f1;
  border-radius: 40px;
  padding: 3px 4px;
  margin-bottom: 50px;
  display: inline-block;
}

body .travel-content-container .travel .card-open {
  margin-bottom: 50px;
  display: inline-block;
}

body .travel-content-container #travel-activity {
  max-height: 990px;
}

body .travel-content-container #travel-activity .card {
  margin: auto;
  margin-top: 24px;
  width: 45%;
}

body .travel-content-container #travel-activity .card .col-lg-4 img {
  width: auto;
  height: 200px;
}

body .travel-content-container .travel-decoration {
  position: absolute;
}

body .travel-content-container #decoration1 {
  left: 45%;
  top: 45px;
  z-index: -1;
  -webkit-animation: decoration-move-1 3s infinite;
          animation: decoration-move-1 3s infinite;
}

body .travel-content-container #decoration2 {
  left: 0;
  top: 325px;
  z-index: -1;
  -webkit-animation: decoration-move-2 5s infinite;
          animation: decoration-move-2 5s infinite;
}

body .travel-content-container #decoration3 {
  right: 0;
  top: 758px;
  z-index: -1;
  -webkit-animation: decoration-move-3 7.5s infinite;
          animation: decoration-move-3 7.5s infinite;
}

body .travel-footer {
  height: 33px;
  padding: 7.5px 0;
  background: #abc6fa;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #222f3c;
}

@-webkit-keyframes loading-move {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes loading-move {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes decoration-move-1 {
  0% {
    top: 50px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 50px;
  }
}

@keyframes decoration-move-1 {
  0% {
    top: 50px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 50px;
  }
}

@-webkit-keyframes decoration-move-2 {
  0% {
    top: 340px;
  }
  50% {
    top: 310px;
  }
  100% {
    top: 340px;
  }
}

@keyframes decoration-move-2 {
  0% {
    top: 340px;
  }
  50% {
    top: 310px;
  }
  100% {
    top: 340px;
  }
}

@-webkit-keyframes decoration-move-3 {
  0% {
    top: 740px;
  }
  50% {
    top: 700px;
  }
  100% {
    top: 740px;
  }
}

@keyframes decoration-move-3 {
  0% {
    top: 740px;
  }
  50% {
    top: 700px;
  }
  100% {
    top: 740px;
  }
}

@-webkit-keyframes after-move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes after-move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.original-height {
  max-height: 100% !important;
}
/*# sourceMappingURL=style.css.map */